.appFrame {
    display: flex;
    background-color: rgb(48, 48, 48);
    height: 10cm;
    flex-direction: row;
    justify-content: space-between;
    margin: 120px;
    border-radius: 25px;
    color: var(--textMain);
}
.iFrame {
    display: inline;
    height: 100%;
    width: 30cm;
    object-fit: cover;
    background-color: rgba(141, 34, 141, 0);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.leftBox {
    display: flex;
    flex-direction: column;
    background-color: rgba(245, 245, 220, 0);
    width: 100%;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 25px;
}
h2 {
    color: var(--textAccent);
}
a {
    color: var(--textSecondary);
}
.leftP {
    text-align: left;
}

@media only screen and (max-width: 1016px) {
    .titleText {
        font-size: 80pt;
    }
    .leftBox {
        display: block;
        background-color: rgba(245, 245, 220, 0);
        margin: 0;
        padding: 20px;
        width: auto;
    }
    .appFrame {
        display: flex;
        background-color: rgb(48, 48, 48);
        height: auto;
        flex-direction: column;
        margin: 20px;
        border-radius: 25px;
        color: var(--textMain);
    }
    .iFrame {
        height: auto;
        width: 100%;
        object-fit: contain;
        background-color: rgba(141, 34, 141, 0);
        border-bottom-right-radius: 25px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 25px;
    }
}
