@font-face {
  font-family: "Vonique";
  src: url(../../fonts/Vonique64.ttf);
}
:root {
  --height: 1.5cm;
  --mobileHeight: 1cm;
  --boxCol: rgb(27, 27, 27);
  --font: "Vonique";
  --mobileWidth: 100%;
}

.pageButton {
  color: var(--textMain);
  font-family: var(--font);
  height: var(--height);
  width: 3cm;
  border-style: solid;
  vertical-align: top;
  margin: 0cm;
  border-color: rgba(240, 248, 255, 0);
  background-color: rgba(240, 248, 255, 0);
  z-index: 1000;
}
.pageButton:hover {
  color: var(--textSecondary);
  height: var(--height);
  width: 3cm;
  border-style: solid;
  margin: 0cm;
  border-color: rgba(240, 248, 255, 0);
  background-color: rgba(240, 248, 255, 0);
}
.pageButtonRight {
  font-family: var(--font);
  color: var(--textMain);
  height: var(--height);
  width: 3cm;
  border-style: solid;
  margin: 0cm;
  border-color: rgba(240, 248, 255, 0);
  background-color: rgba(53, 60, 66, 0);
}
.pageButtonRight:hover {
  color: var(--textSecondary);
  height: var(--height);
  width: 3cm;
  border-style: solid;
  margin: 0cm;
  border-color: rgba(240, 248, 255, 0);
  background-color: rgba(240, 248, 255, 0);
}
.pageButtons {
  display: flex;
  position: sticky;
  top: 0;
  margin: 0;
  justify-content: center;
  padding: 0;
  background-color: var(--boxCol);
}

.verticleLine {
  margin: 0cm;
  color: black;
  border-color: black;
}
@media only screen and (max-width: 600px) {
  .pageButtons {
    display: flex;
    position: sticky;
    height: var(--mobileHeight);
    top: 0;
    margin: 0;
    justify-content: center;
    padding: 0;
    background-color: var(--boxCol);
  }
  .pageButton {
    font-size: 7pt;
    color: var(--textMain);
    font-family: var(--font);
    height: var(--mobileHeight);
    width: var(--mobileWidth);
    border-style: solid;
    vertical-align: top;
    margin: 0cm;
    border-color: rgba(240, 248, 255, 0);
    background-color: rgba(240, 248, 255, 0);
  }
  .pageButton:hover {
    font-size: 7pt;
    color: var(--textSecondary);
    height: var(--mobileHeight);
    width: var(--mobileWidth);
    border-style: solid;
    margin: 0cm;
    border-color: rgba(240, 248, 255, 0);
    background-color: rgba(240, 248, 255, 0);
  }
  .pageButtonRight {
    font-size: 7pt;
    font-family: var(--font);
    color: var(--textMain);
    height: var(--mobileHeight);
    width: var(--mobileWidth);
    border-style: solid;
    margin: 0cm;
    border-color: rgba(240, 248, 255, 0);
    background-color: rgba(53, 60, 66, 0);
  }
  .pageButtonRight:hover {
    font-size: 7pt;
    color: var(--textSecondary);
    height: var(--mobileHeight);
    width: var(--mobileWidth);
    border-style: solid;
    margin: 0cm;
    border-color: rgba(240, 248, 255, 0);
    background-color: rgba(240, 248, 255, 0);
  }
}
