.headBox {
  display: flex;
  margin: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;
  background-color: rgba(127, 255, 212, 0);
}
.welcome {
  font-size: 50pt;
  color: var(--textMain);
}
.tag {
  color: var(--textAccent);
  background-color: rgba(0, 255, 255, 0);
  text-align: center;
}

.tagLoadingMain {
  color: var(--textAccent);
  background-color: rgba(0, 255, 255, 0);
  text-align: center;
  font-size: 15pt;
}
.tagLoadingSub {
  color: var(--textSecondary);
  background-color: rgba(0, 255, 255, 0);
  text-align: center;
  font-size: 10pt;
  padding-left: 10pt;
}
.loadingContainer {
  display: flex;
  gap: 10px; /* Adjust space between elements */
  align-items: center; /* Aligns text vertically */
}

.dots {
  display: inline-block; /* Ensure it's inline with the text */
  position: relative;
}

.dots::before {
  content: ".";
  position: relative;
  animation: dotAnimation 1.5s infinite steps(1); /* Use 'forwards' to keep the last state */
}

@keyframes dotAnimation {
  0% {
    content: ".";
  }
  33% {
    content: ". .";
  }
  66% {
    content: ". . .";
  }
  100% {
    content: ". . .";
  }
}
.sketch1Box {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 30cm;
  margin-top: 100px;
  height: 25cm;
  background-color: rgba(187, 255, 0, 0);
}
.leftText {
  text-align: left;
  color: var(--textMain);
}
.sketch2Box {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 30cm;
  margin-top: 100px;
  height: 15cm;
  background-color: rgba(0, 255, 255, 0);
  overflow: visible;
}
.sketch3Box {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 30cm;
  margin-top: 100px;
  height: 16cm;
  background-color: rgba(0, 255, 255, 0);
  overflow: hidden;
}
.sketch1 {
  float: right;
  height: 100%;
  object-fit: cover;
}
.sketch2 {
  clear: right;
  height: 100%;
  object-fit: cover;
}
.sketch {
  float: right;
  width: 50%;
}
.boxTitle {
  width: 10cm;
  color: var(--backgroundCol);
  background-color: var(--textAccent);
  display: inline;
  padding: 5px;
  font-size: 20pt;
}

.leftSide {
  background-color: rgba(170, 139, 102, 0);
  height: 100%;
  width: 100%;
  float: left;
  margin-right: 20px;
}
.rightSide {
  background-color: rgba(170, 139, 102, 0);
  height: 100%;
  width: 100%;
  float: right;
  margin-left: 20px;
}
.section {
  color: var(--textMain);
  text-align: left;
  padding-left: 30px;
  background-color: var(--textSecondary);
  font-size: 50pt;
}
.section3 {
  color: var(--textMain);
  text-align: left;
  padding-left: 30px;
  background-color: var(--textSecondary);
  font-size: 50pt;
  margin-bottom: 120px;
  margin-top: 200px;
}
.digitalPaintBox {
  margin-top: 100px;
  margin-bottom: 200px;
  background-color: rgba(0, 255, 255, 0);
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 15cm;
}
.modelBox {
  margin: 30px;
  background-color: rgba(0, 255, 255, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
}
.modelHeader {
  text-align: center;
  color: var(--textAccent);
}
.modelDescription {
  padding: 30px;
  color: var(--textMain);
}
.modelViewer {
  /* background-color: var(--backgroundCol); */
  background-color: rgba(49, 119, 180, 0);
}
.modelDescriptionBox {
  background-color: rgb(63, 63, 63);
  width: 10cm;
  margin: 10px;
  height: 15cm;
}
@media only screen and (max-width: 680px) {
  .modelDescriptionBox {
    background-color: rgb(63, 63, 63);
    width: auto;
    margin: 10px;
    height: 15cm;
  }
}
@media only screen and (max-width: 1200px) {
  .welcome {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 40pt;
    color: var(--textMain);
  }
  .section {
    color: var(--textMain);
    text-align: left;
    padding-left: 30px;
    background-color: var(--textSecondary);
    font-size: 40pt;
  }
  .sketch1Box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px;
    width: auto;
    height: auto;
    margin-top: 100px;
    background-color: rgba(187, 255, 0, 0);
  }

  .sketch1 {
    width: 100%;
    object-fit: contain;
  }
  .leftSide {
    background-color: rgba(167, 104, 26, 0);
    height: auto;
    margin-right: 0px;
  }
  .sketch2Box {
    display: flex;
    flex-direction: column-reverse;
    width: auto;
    height: auto;
    margin: 30px;
    margin-top: 0;
    background-color: rgba(187, 255, 0, 0);
  }
  .sketch2 {
    width: 100%;
    float: none;
    object-fit: contain;
  }
  .rightSide {
    background-color: rgba(167, 104, 26, 0);
  }
  .sketch3Box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 30px;
    width: auto;
    height: auto;
    margin-top: 100px;
    background-color: rgba(187, 255, 0, 0);
  }
  .sketch3 {
    width: 100%;
    object-fit: contain;
  }
  .leftSide {
    background-color: rgba(167, 104, 26, 0);
    height: auto;
    margin-right: 0px;
  }
}
