:root {
  --lineWidth: 2px;
  --animTopMargin: 91px;
  --animBotMargin: 500px;
  --animLeftMost: -200px;
  --animeFinalWidth: 170px;
  --goToTopPos: 160px;
}
.icon {
  color: var(--textMain);
  vertical-align: middle;
  font-size: 20pt;
  padding-right: 5px;
  background-color: rgba(0, 255, 255, 0);
}
.icon2 {
  color: var(--textMain);
  vertical-align: middle;
  font-size: 15pt;
  padding-right: 8px;
  margin-left: -11px;
  background-color: rgba(0, 255, 255, 0);
}
p {
  text-align: left;
}
.taddmao {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--textMain);
  font-size: 100pt;
  width: 20cm;
  text-align: center;
  margin: 0cm;
  padding: 0cm;
  background-color: rgba(17, 88, 151, 0);
}
.hello {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: -100px;
  margin-left: -350px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--textSecondary);
  background-color: rgba(255, 228, 196, 0);
}
.introduction {
  /* margin: auto; */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: rgba(240, 255, 255, 0);
  width: 100%;
  height: 100vh;
  margin: auto;
}
.tag {
  display: table;
  width: 100%;
  margin: 0;
  background-color: rgba(240, 255, 246, 0);
}
.line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 91px;
  margin-left: -100px;
  border: none;
  background-color: var(--textAccent);
  height: 1px;
  width: 3cm;
  animation-name: line;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
@keyframes line {
  0% {
    margin-top: var(--animTopMargin);
    width: var(--animeFinalWidth);
    height: var(--lineWidth);
    margin-left: -100px;
  }
  25% {
    margin-top: var(--animTopMargin);
    width: 100px;
    height: var(--lineWidth);
    margin-left: -80px;
  }
  35% {
    margin-top: var(--animTopMargin);
    width: var(--lineWidth);
    height: var(--lineWidth);
    margin-left: var(--animLeftMost);
  }
  42% {
    margin-top: 420px;
    width: var(--lineWidth);
    height: 150px;
    margin-left: var(--animLeftMost);
  }
  45% {
    margin-top: var(--animBotMargin);
    width: var(--lineWidth);
    height: var(--lineWidth);
    margin-left: var(--animLeftMost);
  }
  50% {
    /* contact underlined */
    margin-top: var(--animBotMargin);
    width: 300px;
    height: var(--lineWidth);
    margin-left: -0px;
  }
  80% {
    /* contact underlined */
    margin-top: var(--animBotMargin);
    width: 250px;
    height: var(--lineWidth);
    margin-left: -0px;
  }
  86% {
    margin-top: var(--animBotMargin);
    width: var(--lineWidth);
    height: var(--lineWidth);
    margin-left: var(--animLeftMost);
  }

  92% {
    margin-top: var(--goToTopPos);
    width: var(--lineWidth);
    height: 150px;
    margin-left: var(--animLeftMost);
  }
  95% {
    margin-top: var(--animTopMargin);
    width: var(--lineWidth);
    height: var(--lineWidth);
    margin-left: var(--animLeftMost);
  }
  100% {
    margin-top: var(--animTopMargin);
    width: var(--animeFinalWidth);
    height: var(--lineWidth);
  }
}
.tagText {
  color: var(--textAccent);
  background-color: rgba(0, 255, 255, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10cm;
  margin-top: 90px;
  margin-left: 180px;
}
.contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 255, 255, 0);
  margin-top: 520px;
  width: 100%;
  text-align: center;
}
h3 {
  color: var(--textAccent);
  font-size: 20pt;
}

@media only screen and (max-width: 800px) {
  h3 {
    color: var(--textAccent);
    font-size: 20pt;
  }
  .hello {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: -100px;
    margin-left: -40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--textSecondary);
    background-color: rgba(255, 228, 196, 0);
  }
  .taddmao {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--textMain);
    font-size: 70pt;
    width: 5cm;
    text-align: center;
    margin-top: 50px;
    padding: 0cm;
    background-color: rgba(17, 88, 151, 0);
  }
  .tagText {
    color: var(--textAccent);
    background-color: rgba(0, 255, 255, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2cm;
    margin-top: 230px;
    margin-left: 30px;
  }
  .line {
    --animTopMargin: 232px;
    --goToTopPos: 300px;
    --animLeftMost: -140px;
    ----animeFinalWidth: 10px;
  }
}

@media only screen and (max-height: 370px) {
  h3 {
    color: var(--textAccent);
    font-size: 20pt;
  }
  .hello {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 0px;
    margin-left: -40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--textSecondary);
    background-color: rgba(255, 228, 196, 0);
  }
  .taddmao {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--textMain);
    font-size: 70pt;
    width: 5cm;
    text-align: center;
    margin-top: 150px;
    padding: 0cm;
    background-color: rgba(17, 88, 151, 0);
  }
  .tagText {
    color: var(--textAccent);
    background-color: rgba(0, 255, 255, 0);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2cm;
    margin-top: 330px;
    margin-left: 30px;
  }
  .line {
    --animTopMargin: 332px;
    --goToTopPos: 400px;
    --animLeftMost: -140px;
    ----animeFinalWidth: 10px;
  }
}
