.l {
  background-color: rgba(136, 255, 0, 0);
  border-left-color: var(--textAccent);
  border-bottom-color: var(--textAccent);
  border-top-color: rgba(240, 248, 255, 0);
  border-right-color: rgba(240, 248, 255, 0);
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}
.boxl {
  display: grid;
  grid-template-columns: auto;
}
.mainl {
  grid-area: 1/1/1/1;
  background-color: rgba(255, 228, 196, 0);
  padding-left: 20px;
}
.decorl {
  grid-area: 1/1/1/1;
  background-color: rgba(136, 255, 0, 0);
  border-left-color: var(--textAccent);
  border-bottom-color: rgba(102, 51, 153, 0);
  border-top-color: var(--textAccent);
  border-right-color: rgba(240, 248, 255, 0);
  border-width: 2px;
  border-style: solid;
  width: 100%;
  height: 100%;
  transform-origin: bottom right 60px;
  animation-name: l;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@keyframes l {
  0% {
    width: 100%;
    height: 100%;
  }
  25% {
    width: 50%;
    height: 0%;
    margin-bottom: 0;
  }
  50% {
    width: 0%;
    height: 50%;
    margin-bottom: 0;
  }
  75% {
    width: 90%;
    height: 90%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

.vidSmall {
  border-radius: 20px;
  width: 100%;
  object-fit: contain;
}
.titleBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(122, 148, 27, 0);
  width: 100%;
  height: 22cm;
  font-size: 50pt;
  color: var(--textMain);
}
h1 {
  margin: 0;
}
.tag {
  color: var(--textAccent);
  font-size: 16pt;
  margin-top: 20px;
}
.itemTag {
  color: var(--textAccent);
  font-size: 12pt;
  border-top-color: var(--textAccent);
  border-left-color: rgba(102, 51, 153, 0);
  border-bottom-color: rgba(102, 51, 153, 0);
  border-style: solid;
  border-right-color: rgba(102, 51, 153, 0);
  width: 10cm;
  padding-top: 5px;
  padding-bottom: 10px;
}
.vidBox {
  display: flex;
  flex-direction: column;
  margin: 200px;
  background-color: rgba(60, 109, 109, 0);
  align-items: center;
}
.topVid {
  width: 100%;
  border-radius: 20px;
}
.botBox {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  background-color: rgba(255, 228, 196, 0);
}
.boSmallBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(245, 245, 220, 0);
  width: 100%;
}

.itemTitle {
  text-align: center;
  color: var(--textMain);
  font-size: 30pt;
  margin-bottom: 0px;
}
p {
  text-align: center;
  color: var(--textMain);
}
.botSeperator {
  width: 5cm;
}
.descriptionBox {
  width: 22cm;
  margin-left: 30px;
}
@media only screen and (max-width: 471px) {
  .mainl {
    grid-area: 1/1/1/1;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background-color: rgba(0, 255, 255, 0);
  }
  .decorl {
    grid-area: 1/1/1/1;
    background-color: rgba(136, 255, 0, 0);
    border-left-color: var(--textAccent);
    border-bottom-color: rgba(102, 51, 153, 0);
    border-top-color: var(--textAccent);
    border-right-color: rgba(240, 248, 255, 0);
    border-width: 2px;
    border-style: solid;
    width: 100%;
    height: 100%;
    animation-name: l;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 1416px) {
  .descriptionBox {
    margin: 30px;
    padding: 0;
    width: auto;
    background-color: rgba(127, 255, 212, 0);
  }
  .vidBox {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;
    margin: 30px;
    background-color: rgba(82, 126, 89, 0);
    align-items: center;
  }
  .botBox {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    background-color: rgba(255, 228, 196, 0);
  }
  .boSmallBox {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 245, 220, 0);
    width: 100%;
  }
  .itemTag {
    color: var(--textAccent);
    font-size: 12pt;
    border-top-color: var(--textAccent);
    border-left-color: rgba(102, 51, 153, 0);
    border-bottom-color: rgba(102, 51, 153, 0);
    border-style: solid;
    border-right-color: rgba(102, 51, 153, 0);
    width: auto;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 0;
  }
}

.descriptionSmallBox {
  text-align: center;
  width: auto;
  margin: 30px;
  background-color: rgba(255, 0, 0, 0);
  border-top-color: var(--textAccent);
  border-bottom-color: rgba(255, 0, 0, 0);
  border-left-color: rgba(255, 0, 0, 0);
  border-right-color: rgba(255, 0, 0, 0);
  border-style: solid;
  padding-top: 10px;
}
