:root {
  --textMain: rgb(245, 240, 236);
  --textSecondary: rgb(134, 133, 133);
  --textAccent: rgb(187, 142, 83);
  --backgroundCol: rgb(39, 39, 39);
}
@font-face {
  font-family: "Vonique";
  src: url(./fonts/Vonique64.ttf);
}

body {
  background-color: var(--backgroundCol);
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
canvas {
  height: 100%;
  width: 100%;
}
